<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRrz2HQg5jKHcQoRUx74ulOCFHvJaDa6k</string>
	<key>GCM_SENDER_ID</key>
	<string>551002011220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aiChat</string>
	<key>PROJECT_ID</key>
	<string>aichat-2ebda</string>
	<key>STORAGE_BUCKET</key>
	<string>aichat-2ebda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551002011220:ios:d9830b5dbd3303868d9fc1</string>
</dict>
</plist>